.line-clamp-2[data-v-cc679ef4]{-webkit-line-clamp:2}.line-clamp-2[data-v-cc679ef4],.line-clamp-3[data-v-cc679ef4]{display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden}.line-clamp-3[data-v-cc679ef4]{-webkit-line-clamp:3}
